In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy.stats import uniform, norm, expon

Branch banks must keep enough money on hand to satisfy customers' cash demands.  An armored truck delivers cash to the bank once a week.  The bank manager can choose the amount of weekly cash to have delivered.  Running out of cash during the week is terrible customer service and the manager wants to avoid this.  On the other hand, keeping excessive cash reserves costs the bank profits, since cash is a non-interest earning asset.  

The daily demand for cash at this particular bank follows a normal distribution with daily means and std dev summarized in Table 1.

**Table 1**

|                   |Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday|
|:-----------------:|:----:|:-----:|:-------:|:------:|:----:|:------:|:----:|
|Mean (\\$1,000s)   |175   |120    |90       |60      |120   |140     |65    |
|Std Dev (\\$1,000s)|26    |18     |13       |9       |18    |21      |9     |  

  
  
  
a.  Suppose the bank manager starts the week with \\$825,000.  Create a model for daily ending balance and use 10,000 simluations to determine the probability of the bank running out of money at some point during the week.


b.  Estimate the amount of money needed at the start of the week to ensure that there is at most a 2.0\% probability of running out of money.

In [1]:
means = [175, 120, 90, 60, 120, 140, 65]
sds = [26, 18, 13, 9, 18, 21, 9]

sds

[26, 18, 13, 9, 18, 21, 9]

In [38]:
means[0]

175

In [2]:
## Simulation model for Cash Balance

begin_balance = 825
weekdays = 7
means = [175, 120, 90, 60, 120, 140, 65]
st_devs = [26, 18, 13, 9, 18, 21, 9]
Balance = pd.DataFrame(columns = ['Begin', 'Demand', 'End'])

i=1    
for exp_demand in means:
    Balance.loc[i, 'Demand'] = norm.rvs(size = 1, loc = exp_demand, scale = st_devs[i-1]).item()
    i+=1


for i in np.arange(1, weekdays + 1):
    if (i == 1) :
        Balance.loc[i, 'Begin'] = begin_balance
    else :
        Balance.loc[i, 'Begin'] = Balance.loc[i-1, 'End']

    Balance.loc[i, 'End'] = Balance.loc[i, 'Begin'] - Balance.loc[i, 'Demand']
    
Balance = Balance.set_axis(['Weekday_' + str(n) for n in np.arange(1, weekdays + 1)])
Balance

                Begin      Demand         End
Weekday_1         825  204.727426  620.272574
Weekday_2  620.272574  104.459812  515.812762
Weekday_3  515.812762   97.296497  418.516266
Weekday_4  418.516266   65.185031  353.331234
Weekday_5  353.331234   93.724878  259.606357
Weekday_6  259.606357  139.391761  120.214596
Weekday_7  120.214596   78.803729   41.410867

In [3]:
## Simulation Trials

begin_balance = 825
weekdays = 7
means = [175, 120, 90, 60, 120, 140, 65]
st_devs = [26, 18, 13, 9, 18, 21, 9]

num_trials = 10000

Balance = pd.DataFrame(columns = ['Weekday_' + str(n) for n in np.arange(0, weekdays + 1)])

for t in np.arange(1, num_trials + 1) :
    Balance_day = [begin_balance]
    for y in np.arange(1, weekdays + 1) :
        Balance_day.append(Balance_day[y-1] - norm.rvs(size = 1, loc = means[y-1], scale = st_devs[y-1]).item())
        
    Balance.loc[t] = Balance_day

In [4]:
Balance

,Weekday_0,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,Weekday_7
1,825.0,633.012921,522.053977,420.030519,376.161236,292.743966,158.882253,95.619583
2,825.0,657.783585,556.651748,466.111768,401.867415,269.136529,131.809636,62.863024
3,825.0,683.574615,580.918390,479.786576,420.460065,289.413739,148.319909,75.671852
4,825.0,650.381287,530.125871,431.357839,374.353898,275.888248,149.650617,81.154203
5,825.0,669.181170,552.029135,451.874986,377.134578,238.389673,127.401267,59.971275
...,...,...,...,...,...,...,...,...
9996,825.0,629.783478,505.158990,414.169397,357.134365,201.793205,95.620370,34.347860
9997,825.0,657.143817,549.373881,457.537252,404.106399,323.837413,181.827604,132.917401
9998,825.0,673.363757,560.948463,469.415129,400.446763,277.401028,114.155467,52.201699
9999,825.0,609.637652,471.318607,391.486091,324.104311,186.448244,16.803745,-52.149922
10000,825.0,602.247220,460.007961,373.563241,313.600748,179.001630,8.638356,-64.034354

In [5]:
prob = len(Balance[Balance['Weekday_7'] <= 0])/len(Balance)*100
prob

11.61

a.  Suppose the bank manager starts the week with \\$825,000.  Create a model for daily ending balance and use 10,000 simluations to determine the probability of the bank running out of money at some point during the week.

Answer Here_11.6%____

In [6]:
## Balance What-If

weekdays = 7
means = [175, 120, 90, 60, 120, 140, 65]
st_devs = [26, 18, 13, 9, 18, 21, 9]

num_trials = 2500

balance_range = np.arange(860, 880, 1)
SimOutput = pd.DataFrame(columns = ['Prob_Run_out'], index = balance_range)

for b in balance_range :
    Balance = pd.DataFrame(columns = ['Weekday_' + str(n) for n in np.arange(0, weekdays + 1)])

    for t in np.arange(1, num_trials + 1) :
        Balance_day = [b]
        for y in np.arange(1, weekdays + 1) :
            Balance_day.append(Balance_day[y-1] - norm.rvs(size = 1, loc = means[y-1], scale = st_devs[y-1]).item()) 
        Balance.loc[t] = Balance_day

    SimOutput.loc[b, 'Prob_Run_out'] = len(Balance[Balance['Weekday_7'] <= 0])/len(Balance)*100

In [7]:
SimOutput

    Prob_Run_out
860          2.8
861          2.4
862         1.92
863          2.2
864         1.88
865         1.52
866          1.8
867         1.84
868         1.64
869         1.56
870         1.84
871          1.4
872         0.92
873          1.0
874          1.4
875         0.88
876         0.72
877         0.96
878         1.04
879         1.32

b. Estimate the amount of money needed at the start of the week to ensure that there is at most a 2.0% probability of running out of money.

Answer Here___$862,000______