In [4]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'practicum_student',         # user name
             'pwd': 's65BlTKV3faNIGhmvJVzOqhs', # password
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # connection port
             'db': 'data-analyst-youtube-data'}          # the name of the database

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'], db_config['pwd'], db_config['host'], db_config['port'], db_config['db'])

engine = create_engine(connection_string)

query = '''SELECT *
           FROM trending_by_time 
           '''

In [8]:
data = pd.io.sql.read_sql(query, con = engine, index_col='record_id')

In [9]:
data.head()

           region trending_date    category_title  videos_count
record_id
1          France    2017-11-14  Autos & Vehicles             8
2          France    2017-11-15  Autos & Vehicles             2
3          France    2017-11-16  Autos & Vehicles             6
4          France    2017-11-17  Autos & Vehicles             8
5          France    2017-11-18  Autos & Vehicles             4

In [10]:
data.to_csv('trending_by_time.csv')